*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: lightblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
    align-content: center;
}
.title{
    height: 20vh;
    width: 100vw;
    text-align: center;
    padding-top: 10vh;
}
.main{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-content: space-around;
}

/* First version */
.container{
    width: 25vw;
    background: white;
    border-radius: 10px;  
    margin: 5vw auto; 
} 

.inner{
  
    background:rgb(7, 218, 165);
    border-radius: 10px;
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    clip-path: circle(7% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.inner:hover{
    clip-path: circle(75%);
    background: #00b6ff;
}
span{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition:color .5s;
    position:relative;
    left: 22.2vw;
    top:4vh;
}
span:hover{
    color: rgba(255, 255, 255, 0);
}
h1{
    color: white;
    height: 10vh;
    margin: 1vh 1vw;
}

p{
    color: white;
    font-size: 0.8rem;
    height: 10vh;
    margin: 1vh 1vw;
}


/* Version2 */
.container2{
    width: 25vw;
    background: white;
    border-radius: 10px;  
    margin: 5vw auto; 
} 
.container2:hover .inner2{
    clip-path: circle(75%);
} 

.inner2{
    background:rgb(7, 218, 165);
    border-radius: 10px;
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    clip-path: circle(15% at 0% 0%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.inner2:hover{
    clip-path: circle(75%);
    background: #00b6ff;
}

h1{
    color: white;
    height: 10vh;
    margin: 1vh 1vw;
}

p{
    color: white;
    font-size: 0.8rem;
    height: 10vh;
    margin: 1vh 1vw;
}
/* V3 */
.container3{
    margin: 5vw auto;
    width: 25vw;
    background: white;
    border-radius: 10px;   
} 
.container3:hover .inner3{
    clip-path: inset(0% 0% 0% 0%);
} 

.inner3{
    
    background:rgb(7, 218, 165);
    border-radius: 10px;
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    clip-path: inset(0% 100% 0% 0%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

/* .inner3:hover{
    clip-path: circle(75%);
    background: #00b6ff;
} */

h1{
    color: white;
    height: 10vh;
    margin: 1vh 1vw;
}

p{
    color: white;
    font-size: 0.8rem;
    height: 10vh;
    margin: 1vh 1vw;
}