.container{
    background-color: purple;
    width: auto;
    height: 800px;
    font-size: 30px;
    text-align: center;
    line-height: 140px;
    color: white;
    display: flex;
    
   
    
  
    

}
.one{
    background-color:#FFCF61;
    width: 150px;
    height: 150px;
       
}

.two{
    background-color:#FFCF61;
    width: 350px;
    height: 150px;
   
    
    /* order: 1; */
}

.three{
    background-color:#FFCF61;
    width: 150px;
    height: 150px;
   
 
}
.four{
    background-color:#FFCF61;
    width: 250px;
    height: 150px;
   
    
}

.five{
    background-color:#FFCF61;
    width: 150px;
    height: 150px;
   
    
}

.six{
    background-color:#FFCF61;
    width: 150px;
    height: 150px;
    
   
       
}

.seven{
    background-color:#FFCF61;
    width: 350px;
    height: 150px;
   
    
    /* order: 1; */
}

.eight{
    background-color:#FFCF61;
    width: 150px;
    height: 150px;
    
   
    
}
.nine{
    background-color:#FFCF61;
    width: 250px;
    height: 150px;
   
    
}

.ten{
    background-color:#FFCF61;
    width: 150px;
    height: 150px;
   
    
}


