table{
    border: 3px black solid;
    border-spacing: 0;
    width: 50vw;
    height: 50vh;
}
table tr:nth-child(odd) :nth-child(even),
table tr:nth-child(even) :nth-child(odd){
    background-color: black;
}
