body{
    background-color: teal;
}
header{
   
    height: 50px;
}
footer{
    background-color: white;
    height: 100px;
    margin-top: 20px;
    
    
}
nav{ 
    height: 70px;
    margin-bottom: 50px;
}
#nav{
    color: white;
    text-align: center;
    list-style-type: none;
    padding-top: 5px;
    
}

#nav li{
    display: inline;
    padding: 10px;
    
    
}
main{
    
    margin-right: 500px;
    position: absolute;
    width: 830px;
    height: 600px;
}

aside{
    
    margin-left: 837px;  
    width: 425px; 
    height: 600px;
    text-align: justify;
}

#section1{
    
    width: 420px;
    height: 600px;
    position: absolute;
    
}

#section2{
    
    width: 410px;  
    height: 600px;
    margin-left: 420px; 

}
p{
    margin-top: 0px;
}


article{
    height: 280px;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}
h1{
    margin-top: 0px;
    text-align: center;

}

#contact{
    list-style-type: none;
    padding-top: 7px;
    line-height: 20px;
    margin-left: 20px;

}